---
import Layout from '../../layouts/Layout.astro';

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Container from '../../components/shared/Container.astro';
import Paragraph from '../../components/shared/Paragraph.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={"Siocraft - " + t("nav.aboutUs")}>
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<section class="relative pt-32 lg:pt-36">
      <Container className={"flex flex-col gap-10 lg:gap-12"}>
          <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
            font-bold text-heading-1">
            <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">{t("aboutUs.title")}</span>
          </h1>
          <Paragraph>
            {t("aboutUs.description")}
          </Paragraph>
      </Container>
  </section>
	</main>
</Layout>