---
import AboutUs from '../../components/sections/AboutUs.astro';
import Brands from '../../components/sections/Brands.astro';
import CTA from '../../components/sections/CTA.astro';
import Features from '../../components/sections/Features.astro';
import Hero from '../../components/sections/Hero.astro';
import Services from '../../components/sections/Services.astro';
import Layout from '../../layouts/Layout.astro';

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={"Siocraft - " + t("welcome")}>
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<Brands/>
		<Services/>
		<AboutUs/>
		<Features/>
		<CTA/>
	</main>
</Layout>